<div class="flex h-screen">
  <!-- Mitad izquierda -->
  <div class="w-1/3 auth-background">
  </div>

  <!-- Mitad derecha -->
  <div class="w-2/3 flex flex-col justify-center items-center px-16">
    <!-- Logo -->
    <div class="mb-8">
      <img src="/assets/images/logo.png" alt="Logo" class="w-full">
    </div>

    <!-- Título -->
    <h3 class="text-3xl font-semibold text-[#8b0f64] mb-8">Inicio de Sesión</h3>

    <!-- Formulario -->
    <form class="w-full max-w-md space-y-6">
      <!-- Usuario -->
      <div class="flex items-center border-b-2 border-[#8b0f64] py-2">
        <img src="/assets/icons/outline/user-circle-purple.svg" alt="" class="w-6 h-6 mr-3">
        <input
          type="text"
          placeholder="Usuario"
          class="flex-1 outline-none bg-transparent text-lg text-gray-700 placeholder-gray-400" />
      </div>

      <!-- Contraseña -->
      <div class="flex items-center border-b-2 border-[#8b0f64] py-2">
        <img src="/assets/icons/outline/lock-closed-purple.svg" alt="" class="w-6 h-6 mr-3">
        <input
          type="password"
          placeholder="Contraseña"
          class="flex-1 outline-none bg-transparent text-lg text-gray-700 placeholder-gray-400" />
      </div>

      <!-- Botón -->
      <button
        class="w-full mt-6 bg-[#8b0f64] text-white text-lg font-medium py-3 rounded-lg shadow-md hover:bg-[#70124f] transition" [routerLink]="['admin-panel']">
        Ingresar
      </button>
    </form>
  </div>
</div>
