<div class="flex w-full justify-center space-x-[25%] mt-[5%]">
  <div class="flex border-2 items-center w-1/4">
    <img src="/assets/icons/outline/calendar-date-range-white.svg" width="100" height="100" alt="" class="no-background bg-[#1B1C44]">
    <div class="w-full h-full bg-[#383988] items-center content-center">
      <h2 class="text-white text-3xl text-center">Resumen Citas</h2>
    </div>
  </div>
  <div class="flex border-2 items-center w-1/4 ">
    <img src="/assets/icons/outline/heart-white.svg" width="100" height="100" alt="" class="no-background bg-[#1B1C44]">
    <div class="w-full h-full bg-[#383988] items-center content-center">
      <h2 class="text-white text-3xl text-center">Pacientes</h2>
    </div>
  </div>
</div>

